body {
  background-color: orange;
}

h1 {
  text-align: center;
  text-shadow: 2px 3.5px gray;
}

h3 {
  text-align: center;
}

#container {
  border: 2px solid black;
  padding: 10px;
  background-color: #FF8C00;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#die {
  color: red;
}

.buzzwords {
  font-family: Snell Roundhand;
}

.button {
    border: 2px solid black;
    width: 50%;
    padding: 10px;
    box-shadow: 2px 2px 8px 0px black;
}

.shadow:active {
    box-shadow: 2px 2px 8px 0px black inset;
    background-color: #FF8C00;
}
